@model SRV_Restaurante.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPerfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPerfil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRestaurante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRestaurante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esadmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esadmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
